In [1]:
pip install pandas sqlalchemy mysql-connector-python openpyxl

Requirement already satisfied: pandas in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (2.0.40)
Requirement already satisfied: mysql-connector-python in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (9.3.0)
Requirement already satisfied: openpyxl in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.22.4 in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: greenlet>=1 in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from sqlalchemy) (3.2.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: et-xmlfile in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\r.r. dharun raagav\3d objects\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: c:\Users\R.R. Dharun raagav\3D Objects\python.exe -m pip install --upgrade pip

In [ ]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# ✅ STEP 1: Paste your Excel file path here
file_path = r"C:\Tourism"  # <-- Change this if needed

# ✅ STEP 2: Read all sheets if needed (or specific ones)
continent = pd.read_excel(r"C:\Tourism\Continent.xlsx", sheet_name="Continents")
region = pd.read_excel(r"C:\Tourism\Region.xlsx", sheet_name="Regions")
country = pd.read_excel(r"C:\Tourism\Country.xlsx", sheet_name="Countries")
city = pd.read_excel(r"C:\Tourism\City.xlsx", sheet_name="Cities")
mode = pd.read_excel(r"C:\Tourism\Mode.xlsx", sheet_name="VisitingMode")
type_ = pd.read_excel(r"C:\Tourism\Type.xlsx", sheet_name="Types")
item = pd.read_excel(r"C:\Tourism\Item.xlsx", sheet_name="Item")
transaction = pd.read_excel(r"C:\Tourism\Transaction.xlsx" , sheet_name="Transaction")
user = pd.read_excel(r"C:\Tourism\User.xlsx", sheet_name="User")

# ✅ STEP 3: MySQL Connection (Replace with your actual username, password, DB)
# Example: username = 'root', password = '1234', host = 'localhost', db = 'tourism'
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://root:Priya09_2001#@localhost:3306/travel_analysis')


# ✅ STEP 4: Convert table names to **lowercase** to avoid warning
continent.to_sql("continent", con=engine, if_exists='append', index=False)
region.to_sql("region", con=engine, if_exists='append', index=False)
country.to_sql("country", con=engine, if_exists='append', index=False)
city.to_sql("city", con=engine, if_exists='append', index=False)
mode.to_sql("mode", con=engine, if_exists='append', index=False)
type_.to_sql("type", con=engine, if_exists='append', index=False)

In [ ]:
from sqlalchemy.types import INTEGER, VARCHAR

# ✅ Optional: Define types for better control (optional but safe)
item.to_sql(
    "item",
    con=engine,
    if_exists='append',
    index=False,
    dtype={
        "AttractionId": INTEGER(),
        "AttractionCityId": INTEGER(),
        "AttractionTypeId": INTEGER(),
        "Attraction": VARCHAR(200),
        "AttractionAddress": VARCHAR(255),
    }
)

30

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load Excel file
df_user = pd.read_excel(r"C:\Tourism\User.xlsx")

# Step 2: Preview to ensure data looks correct
print(df_user.head())

# Step 3: Connect to MySQL
engine = create_engine("mysql+mysqlconnector://root:Priya09_2001#@localhost:3306/travel_analysis")

# Step 4: Upload to MySQL (replace `user` with your actual table name if different)
df_user.to_sql(name='user', con=engine, if_exists='append', index=False)

print("✅ User table uploaded successfully!")

   UserId  ContinentId  RegionId  CountryId  CityId
0      14            5        20        155   220.0
1      16            3        14        101  3098.0
2      20            4        15        109  4303.0
3      23            1         4         22   154.0
4      25            3        14        101  3098.0
✅ User table uploaded successfully!

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Create SQLAlchemy engine using your connection string
engine = create_engine('mysql+mysqlconnector://root:Priya09_2001#@localhost:3306/travel_analysis')

# Define your custom SQL query (replace this with your actual query)
query = """
SELECT 
    t.*, 
    u.*, 
    i.*, 
    uc.*, 
    ur.*, 
    co.*,             -- All columns from Country
    c.CountryId,      -- Only CountryId from first City join
    u.CityId,         -- Only CityId from User table
    uci.CityId AS UserCityId, 
    uci.CityName AS UserCityName
FROM Transaction t
JOIN User u ON t.UserId = u.UserId
JOIN Item i ON t.AttractionId = i.AttractionId
JOIN Continent uc ON u.ContinentId = uc.ContinentId
JOIN Region ur ON uc.ContinentId = ur.ContinentId
RIGHT JOIN Country co ON u.CountryId = co.CountryId
RIGHT JOIN City c ON co.CountryId = c.CountryId
LEFT JOIN City uci ON u.CityId = uci.CityId;
"""

# Load the query result into a DataFrame
df = pd.read_sql(query, con=engine)

# Save to CSV and Excel 
df.to_csv('query_result.csv', index=False)
df.to_excel('query_result.xlsx', index=False)